<article class="dream card">
    <div class="title card-header">
        <h6>{{title}}</h6>
    </div>
    <div class="description card-body">
        <p>{{description}}</p>
    </div>
    <div class="meta text-muted card-footer">
       
        Dream posted by {{user.username}} on {{format_date created_at}}
        {{#if public}}
        | <a class="text-dark" href="/dream/{{id}}">{{comments.length}} comment(s)</a>
        {{/if}}
    </div>
</article>