<article class="dream">
    <div class="title">
        <span>{{title}}</span>
    </div>
    <div class="description">
        <p>{{description}}</p>
    </div>
    <div class="meta">
        Dream posted by {{user.username}} on {{format_date created_at}}
        |
        <a href="/dream/{{id}}">{{comments.length}} comment(s)</a>
        {{#each tags}}
        {{/each}}
    </div>
</article>