 <link rel="stylesheet" href="/css/dream-forum.css">

<article class="dream">
    <div class="title">
        <span>{{title}}</span>
    </div>
    <div class="description">
        <p>{{description}}</p>
    </div>
    <div class="meta text-muted card-footer">
       
        Dream posted by {{user.username}} on {{format_date created_at}}
        |{{#if public}}
        <a class="text-dark" href="/dream/{{id}}">{{comments.length}} comment(s)</a>
       
        {{/if}}
        {{#each tags}}
        {{/each}}
    </div>
</article>